@model QuanLyBanHang_63132681.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin_63132681/Views/Shared/_LayoutAdmin.cshtml";
    string tt = "";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />


</head>

<body>
    <!-- About Start -->
    <div class="content-wrapper">
        <div class="container py-5 detail--wrapper">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-6 wow fadeInUp"
                         data-wow-delay="0.1s"
                         @*style="min-height: 400px"*@>
                        <div class="position-relative h-100">
                            <img class="img-fluid position-absolute w-100 h-100 img--info"
                                 src="~/Content/images/items/@Html.DisplayFor(model => model.AnhSanPham)"
                                 alt=""
                                 style="object-fit: cover" />
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                        <h1 class="mb-4">
                            Thông Tin <span class="text-primary">Sản Phẩm</span>
                        </h1>
                        <p class="mb-4">
                            <span class="font-weight-bold">   Mã Sản Phẩm: </span>@Html.DisplayFor(model => model.MaSanPham)
                        </p>
                        <p class="mb-4">
                            <span class="font-weight-bold">  Tên Sản Phẩm:</span> @Html.DisplayFor(model => model.TenSanPham)
                        </p>
                        <p class="mb-4">
                            <span class="font-weight-bold">    Đơn Giá: </span>@String.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:0,##0}", Model.DonGia) VNĐ

                        </p>
                        <p class="mb-4">
                            <span class="font-weight-bold"> Mô Tả Sản Phẩm:</span> @Html.DisplayFor(model => model.MoTa)
                        </p>

                        <p class="mb-4">
                            <span class="font-weight-bold"> Số lượng đã bán:</span> @Html.DisplayFor(model => model.SoLuongDaBan)
                        </p>

                        <p class="mb-4">
                            <span class="font-weight-bold">  Tình Trạng Sản Phẩm:</span> @{if (Model.TinhTrang == true)
                                { tt = "Giảm giá"; }
                                else
                                { tt = "Đề xuất"; }
                            }
                            @tt
                        </p>
                        <p class="mb-4">
                            <span class="font-weight-bold">   Loại Sản Phẩm:</span>  @Html.DisplayFor(model => model.LoaiSanPham.TenLoaiSanPham)
                        </p>









                        <div class="second--btn">
                            @*@Html.ActionLink("Cập Nhật", "Edit", null, new { @class = "btn--one" })*@
                            @*@Html.ActionLink("Về Trang Tìm Kiếm", "Index", null, new { @class = "btn--two" })*@
                            @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.MaSanPham }, new { @class = "btn--one" })
                            @*@Html.ActionLink("Back to List", "Index")*@
                            @Html.ActionLink("Quay Lại", "../SanPhamAdmin_63132681/Index", null, new { @class = "btn--two" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>



<style>

    a {
        color: inherit;
        text-decoration: none;
        background-color: initial; /* Đặt lại background-color thành giá trị mặc định */
        /*  -webkit-text-decoration-skip: objects;*/
    }

    .img--info {
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }

    .detail--wrapper {
        position: relative;
        top: 20px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border-radius: 12px;
        width: 59%;
    }

    .second--btn {
        display: flex;
        gap: 20px;
        margin-top: 34px;
    }

    .btn--one {
        background: #339af0;
        border: none;
        color: #fff;
        padding: 6px 12px;
        border-radius: 8px;
        font-weight: bold;
    }

        .btn--one:hover {
            background: #1c7ed6;
            cursor: pointer;
            color: #fff;
        }

    .btn--two {
        background-color: #f06595;
        border: none;
        color: #f8f9fa;
        padding: 6px 12px;
        border-radius: 8px;
        font-weight: bold;
    }

        .btn--two:hover {
            background-color: #d6336c;
            cursor: pointer;
            color: #fff;
        }
</style>





