@model IEnumerable<QuanLyBanHang_63132681.Models.ChiTietHoaDon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin_63132681/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoaDon.TenHoaDon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSanPham)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoaDon.TenHoaDon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCTHD }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCTHD }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCTHD })
        </td>
    </tr>
}

</table>
