@model QuanLyBanHang_63132681.Models.KhachHang
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="section-conten padding-y" style="min-height:84vh; background-image: url('/Content/images/items/bglogin.jpg')">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px; border-radius: 10px; box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;">
        <div class="card-body">
            <h4 class="card-title mb-4 text-center">Sign in</h4>
            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div> <!-- form-group// -->
                <div class="form-group">
                    @Html.LabelFor(Model => Model.MatKhau)
                    @Html.PasswordFor(Model => Model.MatKhau, new { @class = "form-control", @placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.MatKhau)
                </div> <!-- form-group// -->

                <div class="form-group">
                    <a href="#" class="float-right">Forgot password?</a>
                    <label class="float-left custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> </label>
                </div> <!-- form-group form-check .// -->

                if (!string.IsNullOrEmpty(ViewBag.error))
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.error
                    </div>
                }

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Đăng Nhập  </button>
                </div> <!-- form-group// -->



            }
        </div> <!-- card-body.// -->
        <p class="text-center mt-1 mb-3">Bạn chưa có tài khoản? <a href="@Url.Action("Register", "Home")">Đăng Ký</a></p>
    </div> <!-- card .// -->

    
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>


<script>
    $(document).ready(function () {
        // Ẩn thông báo sau 1.5 giây
        setTimeout(function () {
            $(".alert").fadeOut();
        }, 1500);
    });
</script>